
<%#= image_tag "dash_splash.jpg", id:"dash_splash"%>
<h1><%= "Hello #{current_user.name}" %></h1>



<!--Some tmp links to make life ez-->

<%= link_to ' Edit Profile /', edit_user_registration_path%>
<%= link_to " Create listing /", new_listing_path %>
<%= link_to " Order History /", orders_history_path %>



<div>
  <% @my_listings.each do |l| %>
    <br>
    <%= "Listing name: #{l.name}" %>
    <%= "Created date: #{l.created_at}" %>
    <%= link_to("Delete", delete_listing_path(l.id), method: :delete) %>
    <% if l.alive %>
      <%= link_to("Hide", hide_listing_path(l.id, 1), method: :post) %>
    <% else %>
      <%= link_to("UnHide", hide_listing_path(l.id, 0), method: :post) %>
    <% end %>
    <%#= link_to("Edit", li) %>
  <% end %>
</div>