<div id="new-listings">
<% @new_listings.each do |i| %>
<% if i.alive %>
<div class="new-listing">
<div class="listing-info">
<%= i.name %>
<%= i.body %>
<%= i.price %>
<%= i.category %>
<%= i.tag %>
<%= i.created_at %>
<%= i.alive %>
</div>
<div class="user-info">
</div>
</div>
<% end %>
<% end %>
</div>