
    <div class="listing-info">
    <%=  @listing.name %>
    <%=  @listing.body %>
    <%=  @listing.price %>
    <%=  @listing.category %>
    <%=  @listing.tag %>
    <%=  @listing.created_at %>
    <%=  @listing.alive %>
    </div>
    <div class="user-info">

    </div>

