<h1>Listings</h1>

<div class="filter">

<%= form_with url: show_with_filters_path, local: true do |form| %>
<div>
<%= form.select :desired_attribute, ['Website', 'Domain', 'App'] %>
</div>
    <div>
    <%= form.submit "Search", id: "Submit" %>
  </div>
<% end %>


</div>





<div class="listings">
    <% @listings.each do |i| %>
    <% if i.alive %>
    <div class="new-listing">
    <div class="listing-info">
    <%= link_to  "this will be a image", listing_path(i.id) %>
    <%= content_tag 'span', i.name, class: "listing-name" %>
    <%= content_tag 'span', i.price, class: "listing-price" %>
    </div>
    <div class="user-info">

    </div>
    </div>
    <% end %>
    <% end %>
</div>
