<h1>Listings</h1>
<p>
    Displaying <%= @listings.count %> listings.
</p>
<div class="filter">

    <%= form_with url: show_search_path, local: true do |form| %>
    <div>
        <%= form.text_field :like %>
        <%= form.submit "Search", id: "Submit" %>
    </div>
<% end %>
</div>





<div class="listings">
    <% @listings.each do |i| %>
    <% if i.alive %>
    <div class="listing-info">
    <%= link_to  "image", listing_path(i.id) , class: "listing-img"%>
    <%= content_tag 'span', "Name #{i.name}", class: "listing-name" %>
    <%= content_tag 'span', "Price $#{i.price.round(2)}" , class: "listing-price" %>
    </div>
    <% end %>
    <% end %>
</div>
