<!DOCTYPE html>
<html>
  <head>
    <title>Codemp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <script>
    // setInterval(rl, 1000);
      function rl() {
          location.reload();
      }
  </script>
  <%= render "shared/alert" %>
  <%= render  "shared/nav" %>
    <%= yield %>
  </body>
</html>
